<p id="notice"><%= notice %></p>

Thanks for appreciating:

<p>
  <strong>User:</strong>
  <%= @appreciation.user.email %>
</p>

With:

<p>
  <strong>Points:</strong>
  <%= @appreciation.points %>
</p>

