<p id="notice"><%= notice %></p>

<%= react_component('AppreciationTable', { appreciations: @appreciations }) %>

<br>

<%= react_component('Button', { label: 'New Appreciation', href: new_appreciation_path }) %>
