<div class="bank-card__flex-container">
  <% @bank_accounts.each do |bank_account| %>
    <%= react_component('BankCard', { user: bank_account.user, total: bank_account.total }) %>
  <% end %>
</div>
